<h4 class="p-title"><b>SEACH RESULTS</b></h4>

<div class="row">
	{{#each list}}
	<div class="col-sm-6">
		<img src="{{avatar}}" style="height: 220px" alt="">
		<h4 class="pt-20"><a href="/single-post/{{id}}"><b>{{title}}</b></a></h4>
		<div class="post-meta">
			<a class="post-category cat-2" href="/archieve-post/{{catID}}">{{catName}}</a>
		</div>
		<ul class="list-li-mr-20 pt-10 mb-30">
			<li class="color-lite-black">by <a href="#" class="color-black"><b>{{userName}}</b></a>
				{{moment post_date format="YYYY/MM/DD h:mm:s"}}</li>
			<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>{{views}}</li>
			<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>47</li>
		</ul>
	</div><!-- col-sm-6 -->
	{{/each}}

</div><!-- row -->

<a class="dplay-block btn-brdr-primary mt-20 mb-md-50" href="#"><b>LOAD MORE</b></a>