<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">


<script>
    $(function () {

        $('#frmRegister').validate({
            rules: {
                username: {
                    required: true,
                    remote: {
                        url: 'is-available',
                        data: {
                            username: function () {
                                return $('#username').val();
                            }
                        }
                    }
                },
                password: {
                    required: true,
                    minlength: 6
                },
                name: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                },
                pseudonym: {
                    required: true
                },
                birthday: {
                    required: true
                }
            },
            messages: {
                username: {
                    required: 'Your username is required.',
                    remote: 'Your username has been taken, please take another.'
                },
                password: {
                    required: 'Your password is required.',
                    minlength: 'Your password must have at least 6 characters.'
                },
                pseudonym: {
                    required: 'Your nick name does not match.',
                    equalTo: 'Your nick name does not match.'
                },
                name: {
                    required: 'Valid full name is required.',
                },
                email: {
                    required: 'Please enter a valid email address.',
                    email: 'Please enter a valid email address.'
                },
                birthday: {
                    required: 'Valid date of birth is required.',
                }
            },

            errorElement: 'small',
            errorClass: 'help-block text-danger',
            validClass: 'is-valid',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>
<main class="main-content">
    <div id="mainContent">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1 class="table-header text-center">Manage User</h1>

                </div>
            </div>
            <div class="card-body text-center">
                <form method="POST" id="frmRegister">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="username"><b>Username</b></label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username"
                                value="{{user.username}}" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email"><b>Email</b></label>
                            <input value="{{user.email}}" type="email" class="form-control" name="email" id="email"
                                placeholder="Email" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="birthday"><b>Birthday</b></label>
                            <input value="{{user.birthday}}" type="text" class="form-control" id="birthday"
                                name="birthday" placeholder="01/01/1999" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="role_id"><b>Type account</b></label>
                            <select onchange="OnRoleUserChange()" class="form-control" id="role_id" name="role_id"
                                required>
                                <option value="">None</option>
                                {{#each roles}}
                                <option {{#if active}} selected {{/if}} value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="role_id"><b>Pseudonym</b></label>
                            <input value="{{user.pseudonym}}" type="text" class="form-control" id="pseudonym"
                                name="pseudonym" placeholder="ST MTP, Sky, ..." required>
                        </div>

                    </div>
                    {{#if user.expiration}}
                    <div class="form-group col-md-6" id="expFrm">
                        <label for="expirydate"><b>Expiry date</b></label>
                        <input value="{{moment user.expiry_date format="DD/MM/YYYY"}}" type="text" class="form-control"
                            id="expiry_date" placeholder="01/01/1999">
                    </div>
                    <script>
                        $(function () {
                            $("#expiry_date").datepicker();
                        });
                        $(function () {
                            $("#birthday").datepicker();
                        });
                    </script>
                    {{/if}}
                    <div class="form-group col-md-6" id="catFrm" style="display: none;">
                        <label for="category_id"><b>Category</b></label>
                        <select id="category_id" name="category_id" class="form-control" required>
                            <option value="0">None</option>
                            {{#each categories}}
                            <option {{#if active}} selected {{/if}} value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary col-md-8 text-center">Save</button>
                    <div class="d-flex justify-content-center mt-5">
                        <a href="/change-password">Đổi mật khẩu</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>
<script>
    function OnRoleUserChange() {
        switch (parseInt($('#role_id').val())) {
            case 2:
                $('#expFrm').css('display', 'initial');
                $('#catFrm').css('display', 'none');
                break;
            case 4:
                $('#expFrm').css('display', 'none');
                $('#catFrm').css('display', 'initial');
                break;
            default:
                $('#expFrm').css('display', 'none');
                $('#catFrm').css('display', 'none');
                break;
        }
    } 
</script>